<!DOCTYPE html>
<html>

{% include "snippets/header.html" %}
<body class="theme-deep-orange">
    <!-- Page Loader -->
    <!-- {% include "snippets/page_loader.html" %} -->
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
        {% include "snippets/navbar.html" %}
    <!-- #Top Bar -->
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>BLANK PAGE</h2>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                v1.0.5
                                <small>27th June 2017</small>
                            </h2>
                        </div>
                        <div class="body">
                            <p>- Fixed bugs</p>
                            <p>- Button with icon & text added</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include "snippets/javascripts.html" %}
</body>

</html>